.fs-16{
    font-size: 16pt;
  }
  
  a{
    cursor: pointer;
  }

  .navbar{
    background-color: #181A19;
  }
  .imagem{
    margin-left: 20px;
    margin-right: 30px;
  }

  .sair{
    margin-left: 900px;
  }