#img-bg{
    background-image: url('https://i.pinimg.com/564x/35/fa/c6/35fac6921c3a8a0ec424b56febdc6489.jpg');
  
    min-height: 695px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-fluid{
    background-color: #fefefe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .btn, .form-group{
    margin-top: 1vw;
    margin-right: 1vw;
  }

